<div class="container-narrow">
    <div class="masthead">
          <div class="nav">
            <img src="{{file_src}}" height="120" width="200px">
            <ul class="nav nav-pills pull-right">
        <!--  <li id = "menu1" ><a (click)="setActive('menu1')" [routerLink]="['/home']" disabled>Authentification</a></li>  --> 
              <li id = "menu2" ><a (click)="setActive('menu2')" [routerLink]="['/classes']">Classes</a></li>
              <li id = "menu3" ><a (click)="setActive('menu3')" [routerLink]="['/matieres']">Matières</a></li>
              <li id = "menu4" ><a (click)="setActive('menu4')" [routerLink]="['/enseignants']" disabled>Enseignants</a></li>
              <li id = "menu5" ><a (click)="setActive('menu5')" [routerLink]="['/etudiants']">Etudiants</a></li>
              <li id = "menu6" ><a (click)="setActive('menu6')" [routerLink]="['/salles']" disabled>Salles</a></li>
            </ul>
          </div>
    </div>
    
  </div>



