<div class="salles">
    <div class="container-narrow">

        <div>
            <ul class="nav nav-pills pull-right">
                <li id = "menu1" class="active"><a [routerLink]="['/addsalle']"> <button type="button" class="btn btn-outline-primary add">Add</button></a></li>
              </ul>
        </div>

        <div class="panel panel-primary panel-input">
            <div class="panel-heading title">Salles</div>
            <div class="panel-body">


                <div class="alert alert-success alert-dismissible" id="msg" style="display:none;"></div>
                <div class="panel panel-success" *ngFor="let S of salles">
                    <div class="panel-heading">
                        <div class="col-md-9">
                        Salle: {{S.id_salle}} <br/>
                        Nbre de places: {{S.Nb_places}}
                        </div>
                        <div class="col-md-3" >
                            <button type="button" class="btn btn-success btnn" routerLink="/emploi-salle/{{S.id_salle}}">Emploi du temps</button>
                            <button class="btn btn-primary" routerLink="/editsalle/{{S.id_salle}}"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button class="btn btn-danger" (click)="deleteSalle(S.id_salle)"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
 
    </div>
 </div>
 
 
 