
.txt{
    margin-left: 10px;
    margin-right: 10px;
}

.pause{
    margin: 20px;
}
.jour{
    margin: 20px;
    
}
.td{
    width: 270px;
}
.horaires{
    background-color: rgb(151, 145, 145);
}
.hor1{
    background-color: white;
}
.th{
    border: 1px solid black;
}
.add
{
    color: black;
}
.tb
{
    border: inset;
    background-color: rgb(201, 197, 197);
}