<div class="etudiants">
    <div class="container-narrow">

        <div>
            <ul class="nav nav-pills pull-right">
                <li id = "menu1" class="active"><a [routerLink]="['/addetudiant']"><button type="button" class="btn btn-outline-primary add">Add</button></a></li>
              </ul>
        </div>

        <div class="panel panel-primary panel-input">
            <div class="panel-heading title">Etudiants</div>
            <div class="panel-body">


                <div class="alert alert-success alert-dismissible" id="msg" style="display:none;"></div>
                <div class="panel panel-success " *ngFor="let E of etudiants">
                    <div class="panel-heading cls">
                        <div class="col-md-10">
                        CNE : {{E.cne}} <br/>
                        Nom et Prénom : {{E.nom}} {{E.prenom}} <br/>
                        Classe : {{E.classe}} 
                        </div>
                        <div class="col-md-2 editrash" >
                            <button class="btn btn-primary"  routerLink="/editetudiant/{{E.cne}}"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button class="btn btn-danger" (click)="deleteEtudiant(E.cne)" ><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
 
    </div>
 </div>
 
 
 